<h3>編集画面</h3>

<%= form_with(modal: @post, url: post_path(@post), local: true, method: :put) do |f| %>

  <div class="field-form">
    <%= f.label :title %>
    <%= f.text_field :title, autofocus: true, :placeholder =>"#{@post.title}" %>
  </div>

  <div class="field-form">
    <%= f.label :tag %>
    <%= f.text_field :tag, autofocus: true, :placeholder =>"#{@post.tag}" %>
  </div>
  
  <div class="field-form">
    <%= f.label :body %>
    <%= f.text_area :body, autofocus: true, :placeholder =>"#{@post.body}" %>
  </div>
  
  <div class="field-form">
    <%= f.submit "作成" %>
  </div>

<% end %>
