<div class="container">
  <h1>新規投稿</h1>
  <%= form_with(modal: @post, url: posts_path, local: true) do |f| %>

    <div class="mb-3">
      <div class="field-form">
        <%= f.label :title, class: 'form-label' %>
        <%= f.text_field :title, autofocus: true, placeholder: "タイトル", class: 'form-control' %>
      </div>
    </div>

    <div class="mb-3">
      <div class="field-form">
        <%= f.label :tag, class: 'form-label' %>
        <%= f.text_field :tag, placeholder: "タグ", class: 'form-control' %>
      </div>
    </div>

    <div class="mb-3">
      <div class="field-form">
        <%= f.text_area :body, placeholder: "本文", class: 'form-control', id: "mde" %>
        <script>
          const mde = new SimpleMDE({
              element: document.getElementById("mde")
          });
        </script>
      </div>
    </div>

    <div class="mb-3">
      <div class="field-form">
        <%= f.submit "作成", class: "btn btn-primary"%>
      </div>
    </div>
  <% end %>
</div>
