<!DOCTYPE html>
<html>
  <head>
    <title>Post</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <% if flash[:notice] %>
      <div class="alert alert-primary" role="alert"><strong><%= notice %></strong></div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert alert-danger" role="alert"><strong><%= alert %></strong></div>
    <% end %>
    <header>
      <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h2 class="my-0 mr-md-auto font-weight-normal">新米エンジニアの技術メモ</h2>
        </div>
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <nav class="my-2 my-md-0 mr-md-3">
          <a class="p-2 text-dark" ><%= link_to "投稿", posts_path, class: "header-list" %></a>
          <a class="p-2 text-dark" ><%= link_to "プロフィール", profiles_path, class: "header-list" %></a>
          <a class="p-2 text-dark" ><%= link_to "タグ一覧", tags_path, class: "header-list" %></a>
          <a class="p-2 text-dark" ><%= link_to "お問い合わせ", "#", class: "header-list" %></a>
        </nav>  
      </div>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      <% if user_signed_in? %>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "login" %>
      <% else %>
        <%= link_to 'ログイン', new_user_session_path, class: "login" %>
      <% end %>
    </footer>
  </body>
</html>
